:root {
  --cor-body: #dde0ec;
  --cor-fontes: #5d6dac;
  --cor-terciaria: #fff;
  --cor-footer: #bfc9ec;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background: var(--cor-body);
}
header {
  display: block;
}
.cabecaçho {
  width: 100%;
}
.imgIcone {
  width: 7.5rem;
  padding: 2.5rem;
  cursor: pointer;
}
.container {
  padding: 2% 13%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.textoEntrada {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
}
.textarea {
  width: 70%;
  height: 200px;
  padding: 20px;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  background-color: var(--cor-body);
  border: none;
  color: var(--cor-fontes);
  resize: none;
}
.textarea:focus {
  box-shadow: 0 0 5px rgba(105, 121, 173, 0.418);
  outline: none;
}
.atencao {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.botoes {
  display: flex;
  gap: 40px;
}
.botoes button {
  padding: 20px 60px;
  border-radius: 50px;
  font-size: 1.25rem;
  cursor: pointer;
}
.botaoCriptografar {
  background: var(--cor-fontes);
  color: var(--cor-terciaria);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.botaoDescriptografar {
  background: var(--cor-terciaria);
  color: var(--cor-fontes);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.textoSaida {
  background: var(--cor-terciaria);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
}

.fraseCripotografada {
  padding: 10px;
  justify-content: space-between;
}
#botaoCopiar {
  display: block;
  margin: 0 auto;
  background-color: var(--cor-fontes);
  color: var(--cor-terciaria);
  padding: 20px 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
#botaoCopiar:hover {
  background-color: #6c8af3;
}

.footer {
  background: var(--cor-footer);
  text-align: center;
  padding: 20px;
}
.footer p {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 1170px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 3%;
  }

  .textoEntrada {
    width: 100%;
    gap: 3rem;
  }

  .textarea {
    width: 90%;
  }
  .teste {
    width: 90%;
    text-align: center;
  }
  .botoes {
    gap: 10px;
  }

  .botoes button {
    width: 100%;
    padding: 20px 0;
  }

  .textoSaida {
    padding: 2rem;
    width: 80%;
    margin-bottom: 2rem;
  }
  .textoSaida img {
    display: none;
  }
  .fraseCripotografada h2 {
    text-align: center;
    margin: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .textoSaida {
    margin-bottom: 3rem;
  }
  .atencao {
    width: 100%;
    text-align: center;
  }
  .botoes {
    gap: 2rem;
    flex-direction: column;
  }
  .footer {
    padding: 1rem;
  }
  .footer p {
    font-size: 1rem;
  }
}
